:root {
  --color-text: #757575;
  --color-title-text: #212121;
  --color-footer-hero: #2f303a;
  --color-main-background: #ffffff;
  --color-secondary-background: #f5f4fa;
  --color-link-hover: #2196f3;
  --color-logo-footer: #ffffff;
  --color-logo-header: #000000;
  --color-real-address: #ffffff;
  --color-link-address: rgba(255, 255, 255, 0.6);
  --color-title-hero: #ffffff;
  --color-border: #eeeeee;
  --fill-icon: #afb1b8;
}
/* колір героя і підвалу #2F303A; */
/* сірий  параграф  #757575; */
/* синій лого і навігація  #2196F3; */
/* телефон і мило в футорі  rgba(255, 255, 255, 0.6); */
/* фон хедера і основний фон background: #FFFFFF; */
/* другорядний фон карточок background: #F5F4FA; */
/* колір заголовків тексу #212121 */
/* ----------------------------------- */
button {
  cursor: pointer;
}
/* ul {
  list-style: none;
}
a {
  text-decoration: none;
} */
/* ------------------------------------ */
/* Глобальний border-box */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* ----------------------------------- */

.logo,
.heder-link,
.site-nav,
.link-nav,
.contact-nav,
.benefits-list,
.work-list,
.team-list,
.logo-footer,
.address-list,
.footer-link,
.address-real,
.filter-list,
.works,
.works-link {
  text-decoration: none;
  list-style: none;
}
/* ----------------------------------------*/
/* outline: 2px solid tomano; */
body {
  font-family: Roboto, sans-serif;
  background: var(--color-main-background);
  color: var(--color-title-text);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Логотип */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-link-hover);
}
.logo-black {
  color: var(--color-logo-header);
}
/* Навігація */

.heder-portolio {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-border);
}

.nav {
  display: flex;
  align-items: center;
}

.heder-blok {
  display: flex;
  align-items: center;
}

.link-nav {
  display: flex;
  margin-left: auto;

  margin-top: 0px;
  margin-bottom: 0px;
}

.site-nav {
  display: flex;
  margin-left: 93px;

  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.heder-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-title-text);
}
.site-nav li:not(:last-child) {
  margin-right: 50px;
}
.heder-link:hover,
.heder-link:focus {
  color: var(--color-link-hover);
}

/* Мило і тел. в шапці */
.link-nav li:not(:last-child) {
  margin-right: 50px;
}
.link-nav {
  /* padding: 0px; */
}
.contact-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  fill: var(--color-text);
}
.contact-nav svg {
  margin-right: 10px;
}
.contact-nav:hover,
.contact-nav:focus {
  color: var(--color-link-hover);
  fill: var(--color-link-hover);
}
.iten-nav-contact a {
  display: flex;
  align-items: center;
}

/* Герой */
.section-hero {
  padding: 200px 0px;
  background-color: var(--color-footer-hero);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  width: 696px;
  margin: 0px auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-logo-footer);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-button {
  border: 0;
  border-radius: 5px;
  padding: 6px 22px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--color-link-hover);
  color: var(--color-main-background);
}
.section-hero {
  text-align: center;
}
/* Переваги */

.benefits-list {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.benefits-iten {
  width: calc((100% - 90px) / 4);
}
.benefits-iten::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  background: var(--color-secondary-background);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.antena::before {
  background-image: url('../images/antenna.svg');
}
.clock::before {
  background-image: url('../images/clock.svg');
}
.diagram::before {
  background-image: url('../images/diagram.svg');
}
.astronaut::before {
  background-image: url('../images/astronaut.svg');
}
.benefits-name {
  margin-top: 0px;
  margin-bottom: 10px;

  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}
.benefits-text {
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: 400;
  line-height: 1.71;
  color: var(--color-text);
}
/* Чим ми займаэмося */
.work {
  padding-top: 0px;
  padding-bottom: 94px;
}

.work h2 {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.benefits-list {
  justify-content: space-between;
}
.work-list {
  justify-content: space-between;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.work-iten img {
  display: block;
}
/* Наша команда */
.team {
  background: var(--color-secondary-background);
}
.team-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.team-iten img {
  display: block;
}
.team h2 {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-name {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-text {
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-text);
}
.team-iten {
  display: block;
  text-align: center;
  background: var(--color-title-hero);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* Іконки соцмереж */
.soc-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--fill-icon);
}
.soc-link:not(:last-child) {
  margin-right: 10px;
}
.soc-div {
  display: flex;
  padding: 0px 32px 30px;
}
.soc-link:hover,
.soc-link:focus {
  fill: var(--color-main-background);
  background-color: var(--color-link-hover);
}
/* ----------Постійні клієнти---------- */

.client-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.client-list {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.comp-link {
  fill: var(--fill-icon);
}
.comp-link:hover,
.comp-link:focus {
  fill: var(--color-link-hover);
  border-color: var(--color-link-hover);
}

.comp-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px;
  border-radius: 5px;
  border-color: var(--fill-icon);
  border-style: solid;
}
.client-iten:not(:last-child) {
  margin-right: 30px;
}
/* ----------Підвал--------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--color-footer-hero);
}
.footer,
.address {
  display: flex;
  align-items: baseline;
}
.address-div {
  margin-right: 70px;
}
.address-real {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-real-address);
}
.footer-link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-link-address);
}
.logo-footer {
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-link-hover);
}
.logo-white {
  color: var(--color-logo-footer);
}
.address-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.address-iten:not(:last-child) {
  margin-bottom: 9px;
}

/* Соцмережі футера */

.title-futer-soc {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-logo-footer);
}
/* Іконки соцмереж футера*/
.futer-soc-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-main-background);
  background-color: rgba(255, 255, 255, 0.1);
}
.futer-soc-link:not(:last-child) {
  margin-right: 10px;
}
.futer-soc-div {
  display: flex;
}
.futer-soc-link:hover,
.futer-soc-link:focus {
  fill: var(--color-main-background);
  background-color: var(--color-link-hover);
}

/* ----------------ПОРТФОЛІО-------------------- */

/* фільтр-кнопки */
.filter-button {
  border: 0;
  border-radius: 5px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--color-title-hero);
  background-color: var(--color-link-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter-iten:not(:last-child) {
  margin-right: 8px;
}

.filter-list {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}

/* Карточки */
.works-iten img {
  display: block;
}

.works-iten:nth-child(n + 7) {
  margin-bottom: 0px;
}
.works-iten {
  margin-bottom: 30px;
  background: var(--color-title-hero);
  border: 1px solid var(--color-border);
  box-sizing: border-box;
}

.works {
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
}

.works-title {
  margin: 20px 24px 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title-text);
}
.works-text {
  margin: 0px 24px 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-text);
}
.works-iten:hover {
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* Контейнер */
.section {
  padding: 94px 0px;
}
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
}
